<div class="image text-center">
  <%= image_tag asset_path("top.png") %>
</div>
<div class="cluod1"><%= image_tag asset_path("cloud.png") %></div>
<div class="cloud2"><%= image_tag asset_path("cloud2.png") %></div>
<div class="about">
  <h3>
    昼寝をする幸せを、<br>
    みんなで共有しよう～。<br>
    <%= link_to "投稿を見てみよう！", posts_path, class: "btn btn-success ml-4 mt-3" %>
  </h3>
</div>